{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">About Web Solutions India</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;">Home    /
    <font color="green">About Web solutions India</font></h6>
  </div><br>

<!--second block-->

  <div class="container-fluid">
    <div class="row">
       <div class="col-md-3 p-5">
          <h5 style="font-family: Georgia;text-align: center;color: gray;">Get To Know</h5><br>
            <h4 style="font-family: Georgia;text-align: center;">All About Us!</h4><h5 style="text-align:center;">_ _ _</h5>
             
          </div>
        <div class="col-md-9 p-5">
           <p><font style="color: grey;font-size: larger;"> Web Solutions India </font>is one of 
            the fastest growing IT companies in Mumbai, serving 
            clients across India and aboard. We broadly specialise in Software Development, Website-
            Designing and Digital Marketing solutions.</p><p> Grown successfully in the digital and
               web industry, our expertise ranges from bespoke
            Software Products, Web Designing, Web Development, Mobile App, e-Commerce, Domain & Web 
            Hosting
             to building Corporate Identity, managing Social Media Marketing and Search Engine 
             Optimization services. Our well-qualified experts provide best-in-class
              resolutions for all customer requirements.
              Our team members share a passion for pushing the limits of the 
            technology frontier and possess an unwavering commitment to quality, efficiency and 
            innovation.</p>
            </p>
        
       <div class="row">
        <div class="col-sm-6 col-md-6 p-2">
            <h4>Mission </h4>
            <p>We aim to provide reliable and superior state-of-the-art software solutions and
              designs to our 
                clients at an affordable price. We are working towards bringing quality, simplicity 
                and scalability
                 to our solutions leading to professional growth for our clients as well as employees
                . We aim to be a part of the client business that serves them with bigger profits.
            </p>
           </div>
           <div class="col-sm-6 col-md-6 p-2">
            <h4>Vision </h4><p>
                Our Vision is to become a leading global technology provider of the country. Our
                 organisation 
                exists to acquire global competence through innovation and product 
                development. We aspire to become the ideators of the IT-industry and be pioneers
                 of new frameworks.
            </p>
           </div></div> 
           <div class="col-md-12 p-1">
            <h4 style="text-align:left ;">Values</h4>
            <ul >
            <li> Innovation: We build new designs for every client requirement. We do not follow
               any standard template and the designs are developed on real time basis per the
                requirement of the client.
            </li><li>Commitment: We are committed to our best in Quality, Design, and Style
               within the planned timelines.
            </li><li>  Transparency: We assure transparency to all our clients assuring them
               updates on a real-time basis and complete data in report format of our services
                for them.</h4>
            </li>
        </ul>
    </div>
  </div>
      </div>
    </div>


<!-- third block-->
    
     <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6">
                    <img src="https://c0.wallpaperflare.com/preview/804/920/863/analysis-coffee-communication-connection.jpg" width="100%" height="96%">
                  </div>
                  <div class="col-md-6 ">WHY<br>
                    <h4 style="font-size: xx-larger;"><b>
                       Web Solutions India?</b></h4>
                     <p style="padding-right: 1cm; color: gray"> We proudly hold a talented team of experts who have stood all these years as 
                      the backbone of the company. This team of professionals have a good experience 
                      not just in terms of the number of years but in terms of serving a broad range 
                      of client types. Their quality and commitment towards work have kept them
                       updated with the latest technology and trends.
                      <ul style="padding-right: 1cm; color: gray">
                      <li>Heavy experience in working with clients belonging to different domains</li>
                     <li> Working in partnership with our clients</li>
                     <li>Outstanding relationship development; for our success mantra is ‘Client
                      Success = Our Success.’</li>
                      <li>100% record of on-time delivery of the planned services</li>
                      <li>Cost effective solution</li>
                      <li>Strong analytical skills and data-driven thinking</li>
                      <li> Superior maintenance services and high Customer Satisfaction</li>
                      <li> Our experts have strong interpersonal, written, verbal communication skills 
                      with an ability to multi-task</li>
                      <li> Guaranteed industry standard protocols and services are provided</li>
                      <li> Developers have experience and development knowledge of all Frameworks and
                       technologies; and</li>
                       <li> 24x7 Service Support.</li>
                    </ul>
                  </p>
                  </div>
                
                </div>
                </div>
              </div>
          

<!-- third block-->


{% endblock %}

