{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Content Writing</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font style="color:green;">Content Writing</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Content Writing</h3><p style="font-family: Georgia">
        Better Content Means Better Business</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-3">
        <p style="color: gray;">What is it that can make the viewers reach your page or connect with
             your business when they are already there? Catchy headlines! Relatable stories with solutions
              that make the viewers read and opt for your services!

            Web Solutions India offers the most vital web service, content writing, for its client to 
            help them with the most engaging content for their websites and blogs. We have a team of 
            professional writers who are well equipped with the flow of web writing and can help you 
            assist anything and everything related to content. Get content for your website, emails drafts,
             social media posts, blogs, etc.
            
            We also hire subject matter experts in case of technical requirements. Right from 
            understanding your message till its smooth delivery to the readers, our professional writers
             are here to help you in every way!</p></div>
<!--end-->
{% endblock %}

