{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">E-Commerce Website Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Website Design and Development</font> / <font style="color:green;"> E-Commerce Website Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">E-Commerce Website Development</h3><p style="font-family: Georgia">
        Sell More With Website Store</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">If you are into a business of selling products or services directly to
             the customers, an e-Commerce website is one of the important stores to have. It tends to be
              the biggest store to anyone selling their products and services. After all, there are no 
              area limits to these e-Commerce websites, ultimately connecting the whole world. Web 
              Solutions India helps its business clientele build websites where you can list products you
               offer and showcase them to the potential customers. We promise to add all the features,
                filter options, and payment sections as per your requirements making the website 
                user-friendly. Also check our ‘What We Developed’ section for a software that we 
                developed in the recent past for e-Commerce websites. Get a simple to use, easy to
                 understand and yet the most attractive e-Commerce websites designed and developed for 
                 your business today!</p></div>
<!--end-->
{% endblock %}




