{% extends "website/layout.html" %}

{% block body %}
<!--image-->

 <img src="https://c1.wallpaperflare.com/preview/427/745/192/notebook-natural-laptop-macbook.jpg" width="100%">
 <h1 class="carousel-caption">hfj</h1>

 <!--first block-->
 <div class="container pt-5 text-center">
      
                     <h3 >Hello, Welcome To Prathibha Solutions</h3>
                     <h6>Powering your Business Growth</h6>
                     <h5>_ _ _</h5>
             
       </div><br>

       <div class="container pb-5 text-center">
          
                 
                     <p>Prathibha Solutions is a cutting -edge startup committed to provide innovative software solutions that are designed 
                      to empower businesses and individuals by simplifying complex tasks, boosting efficiency and enhancing productivity.
                                         </p><br>
                     <div>
                     <a type="button" href="{% url 'about' %}" class="btn btn-dark btn-md">MORE ABOUT US </a>
                     </div>
                     
                  </div>
                 
  <div class="container-fluid p-5 bg-light text-dark text-center pt-5 pb-5">
      <h3>Unlocking Tomorrow's Solutions, Today</h3>
      <p style="color: rgb(29, 5, 5);">Satisfy Your Needs</p>
      <h5>_ _ _</h5>
             
    <div class="row pt-4">
      <div class=" col-sm-8 col-md-4 ">
      <h3>CRM & ERP Software Development</h3>
        <p style="font-size: medium; font-style: oblique ;padding: 1cm">Comprehensive ERP software that can easily help a business analyse the scope, time and 
        cost of an engagement ...<br><a  class="text-dark" href="{% url 'crm'%}">Learn More <i class="fa fa-long-arrow-right"></i></a></p>
         
      </div>
      <div class=" col-sm-8 col-md-4 ">
        <h3>Android & iOS Apps Development</h3>
        <p style="font-size: medium; font-style: oblique ;padding: 1cm">
          We develop both Android and iOS friendly applications custom designed assuring the most enhanced experience to the users ...
         <br><a  class="text-dark" href="{% url 'android'%}"> Learn More <i class="fa fa-long-arrow-right"></i></a></p>
      </div>
      <div class=" col-sm-8 col-md-4 ">
        <h3>Tally Customisation
           </h3>
        <p style="font-size: medium; font-style: oblique ;padding: 1cm">Tally Solutions is one of the
           important sections of a business when it comes to recording of payments and transactions .
           <br><a  class="text-dark" href="{% url 'tally' %}"> Learn More <i class="fa fa-long-arrow-right"></i></a></p>
      </div>
    </div>
  </div>   
        


{% endblock %}





