{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Landing Page Design And Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Website Design and Development</font> / <font style="color:green;"> 
        Landing Page Design And Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Landing Page Design And Development</h3><p style="font-family: Georgia">
        Do More With Online</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Nothing can get you the new customers like a professional landing page can do. 
            One needs to ensure that the clickable ads of your business let the customers reach a page that 
            genuinely adds value to them.<br>

            Delivering the best Landing Page Design and Development services, the Web Solutions India get you: 
            1. Interesting and relevant headlines attracting users to your page. 2. Excellently written content. 
            3. Relevant and interesting images and videos for the business; and most importantly. 4. A Call to
             Action.
            <br>
            Our landing pages are developed by the experienced HTML developers and come with inbuilt SEO 
            enhanced features. We assure you W3C validation, multi-browser compatibility, seamless HubSpot 
            integration and all-time customer support for all our services!</p></div>
<!--end-->
{% endblock %}




