{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Manufacturer Software</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Manufacturer Software</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">All About Manufacturer Software
        
        </h3><p style="font-family: Georgia"> Everything About Manufacturing
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Manufacturer Software is an application for an organization's internal usage. This application is the most vital one for salespeople as it demonstrates the varied product range of products to the customers via a single app. These products are sorted by category, price, image etc. Its admin panel lets you manage orders,
             access salesperson details, find and manage products and categories that appear on the app  <div class="row">
                <div class="col-sm-6 ">
            Features Of Admin<br>
           
           1. Creating and updating categories, products, customer list, etc.<br>
            2. Set up discounts for the products<br>
         3. View and manage orders<br>
           </div>
            
            <div class="col-sm-6">
            
            Features of the Seller Panel<br>
            
            1. Create a seller account<br>
            2. View and manage product catalogues adding your own pricing and discounts<br>
         3. Place orders and check order history and status.<br></div>
        </div></p></div>
<!--end-->
{% endblock %}




