{% extends "website/layout.html" %}
{% block body %}

<!--first block-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Products</h3>
</div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;word-spacing: 3px;">Home /
    <font color="green">Our Products</font></h6>
  </div>
  

  <!--second block-->

  <div class="container-fluid text-center p-3">
<h3 style="font-family: Geneva, ">What We Developed For Your Business</h3><p style="font-family: Georgia">
Satisfy Your Needs<h5 style="text-align:center;">_ _ _</h5></p>
  </div>

  <!--end-->
  <div class="container-fluid p-5">
    <div class="row p-0">
        <div class="col-md-4 ">
           <h1>01</h1> 
           <h4 style="font-family: verdana;">Enquiry Lead Management Software (Website)</h4><p style="padding-bottom: 10px;">
With the ability to manage all your social networks , we gives you a wide scope of your social media activity ...
<br><br><a href="{% url 'enquiry'%}" class="text-dark">
Learn More <i class="fa fa-long-arrow-right"></i></a></p>
        </div>
        <div class="col-md-4">
            <h1>02</h1> 
 <h4 style="font-family: verdana;">Vehicle and Fleet Management Software (Online, Mobile App)</h4><p style="padding-bottom: 10px;">
 With the ability to manage all your social networks , we gives you a wide scope of your social media activity ...
 <br><br><a href="{% url 'vehicle'%}" class="text-dark">
 Learn More <i class="fa fa-long-arrow-right"></i></a></p>
         </div>
         <div class="col-md-4">
            <h1>03</h1> 
            <h4 style="font-family: verdana;">Astrology Service Software (Online, Mobile App)</h4><p style="padding-bottom: 10px;">
 With the ability to manage all your social networks , we gives you a wide scope of your social media activity ...
 <br><br><a href="{% url 'astrology'%}" class="text-dark">
 Learn More <i class="fa fa-long-arrow-right"></i></a></p>
         </div>
         <div class="col-md-4">
            <h1>04</h1> 
            <h4 style="font-family: verdana;">Food Ordering System (Website, Mobile App)</h4><p style="padding-bottom: 10px;">
              With the ability to manage all your social networks , we gives you a wide scope of your social media activity ...

              <br><br><a href="{% url 'foodorder'%}" class="text-dark">
Learn More <i class="fa fa-long-arrow-right"></i></a></p>
         </div>
         <div class="col-md-4">
            <h1>05</h1> 
            <h4 style="font-family: verdana;">Manufacturer Software (Online, Mobile App)</h4><p style="padding-bottom: 10px;">
 With the ability to manage all your social networks , we gives you a wide scope of your social media activity ...
 <br><br><a href="{% url 'manufacture'%}" class="text-dark">
  Learn More <i class="fa fa-long-arrow-right"></i></a></p> 
         </div>
         <div class="col-md-4">
            <h1>06</h1> 
            <h4 style="font-family: verdana;">JoinApp (Social Networking) (Android)</h4><p style="padding-bottom: 10px;">
 With the ability to manage all your social networks , we gives you a wide scope of your social media activity ...
 <br><br><a href="{% url 'joinapp'%}" class="text-dark">
 Learn More <i class="fa fa-long-arrow-right"></i></a></p>
         </div>
    </div>
  </div>


{% endblock %}
