{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Corporate Stationery Design</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Graphic Design And Branding</font> / <font style="color:green;"> Corporate Stationery Design</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Corporate Stationery Design</h3><p style="font-family: Georgia">
      Affordable Solutions For All Your Creativity Needs</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Web Solutions India promises to develop designs for your brand that 
          are something to behold. While it’s important to appear professional in and out of the
           business, corporate stationery designs are a perfect way to keep passing on your business 
           message effectively to the entire world. Corporate stationery designs are also important 
           because they depict the brand’s identity enhancing the overall communication with the people.
            Be it a visiting card, letterhead, business card or any other stationary item, a logo as well
             as a complete Corporate Stationery Design is very vital.</p></div>
<!--end-->

{% endblock %}




