{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Subscription Website</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="green">Our Products</font>/<font style="color:green;">Subscription Website</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Subscription Website
        </h3><p style="font-family: Georgia">Don't Wait, Grow Your Business Now
        </p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Enquiries are the starting point of an incoming potential new business.
             A new lead needs to be maintained and nurtured properly to gain closures. Any business, small,
              medium or big, needs effective management of enquiries as they leave a heavy impact on the
               business and hence, the profits.

            An enquiry management system is a software built by us for businesses finding it tough to manage
             and reverting to enquiries from different sources. This software helps the business track a new
              potential clientele ultimately helping in increasing the business. Generally, a lot of 
              organizations see dwindling profits just because they are unable to effectively handle 
              enquiries. And thus, a lot of time and effort is wasted. This also results in huge business 
              losses. Research depicts that there is a huge demand for such applications that can save these
               companies time and effort and let them manage the enquiries effectively. The enquiry lead
               management software will, in turn, results in gauging more business.</p></div>
<!--end-->
{% endblock %}




