{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">UI/UX Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray"> Website Design and Development</font> / <font style="color:green;"> UI/UX Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">UI/UX Development</h3><p style="font-family: Georgia">
        Do More With Online</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">With so many UI/UX designers out there in the market, it becomes really
             tough for a client to identify which one would be the best service provider? Why not check 
             out the Web Solutions India portfolio and find the difference yourself between we develop 
             and what others in the market have to offer. We offer high-class UX/UI services that have 
             gained 100% clientele satisfaction not just in India but also abroad. Web Solutions India 
             tops the list of the best UX/UI designers solely because of the dedicated team that stands
              as its backbone in the industry. Our 24 hour customer support service has further enhanced 
              our reliability for the clients.
<br>
            Our high-class UX/UI design services comprise of: 1. Development of UX Strategy and Design. 
            2. Consulting on Strategic Design. 3. Mobile App Design. 4. Responsive Website and Print 
            Design. 5. Motion Graphics Designs and Rich Media. 6. Development of Branding and Corporate 
            Identity</p></div>
<!--end-->
{% endblock %}