{% extends "website/layout.html" %}

{% block body %}

<!-- first bar-->

<div class="container-fluid text-center p-4  bg-dark text-light">
    <h3 style="font-weight: bold;">Web Application Development</h3></div>
    <div class="container-fluid text-center pb-3 bg-dark text-light">
    <h6 style="color:gray;text-align: center;padding-bottom: 10px;"> Home /
    <font color="gray">Applications and Software Development
    </font> / <font style="color:green;"> Web Application Development</font></h6>
  </div><br>

  <!--second-->
  <div class="container-fluid text-center p-4 ">
    <h3 style="font-family: Geneva, ">Web App Design And Development</h3><p style="font-family: Georgia">
        Solutions, That Meet Your Business Needs</p><h5 style="text-align:center;">_ _ _</h5>
      </div>

      <div class="container-fluid p-5">
        <p style="color: gray;">Web Solutions India offers development of mission-critical web apps to 
            help you scale your business. Our web development services ensure compatibility of the
             application with Windows and Linus platforms. Now see your web apps running faster with the
              users using .NET, PHP Java, Node.js, and Python for Windows and .NET Core, PHP, Node.js or 
              Ruby for Linux. We proudly have a dedicated web app development team who will never fail to
               stand up to your expectations! Web applications being as important as that of the Android
                and iOS apps, get one delivered for your business today!</p></div>
<!--end-->
{% endblock %}




